<!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
       <link href="../../public/style.css" rel="stylesheet.css" type="text/css"/>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      
       <title>Shop</title>
   </head>
  
   <body>
     <div  class="col-sm-12 " style="padding:15px 15px 0px 15px">
       <a href="/shop/index" class="btn btn-primary text-left">Home</a>
       
       <a href="/shop/cart" class="box btn btn-success">Cart</a>

       <a href="/admin/index" class="btn btn-primary " style="float:right">Admin</a>
       <a class="btn btn-primary" href="/shop/orders" style="float:right">My Orders</a>
       <a class="btn btn-primary" href="/shop/logout" style="float:right">Logout</a>
    </div>